* {
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: #fff;
  font-size: 18px;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

th,
td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #eee;
  color: #222;
}

tr {
  background-color: silver;
  color: #222;
}

th {
  background-color: #04aa6d;
  color: white;
}

tbody > tr:hover {
  background: #ddd;
  color: #000;
}
